.section_resume {
	background-color: #f2f2f1;
	text-align: center;
}
.resume_titel {
	padding: 50px 0 48px 0;
	text-align: center;
	font-weight: 700;
}
.resume_content {
	padding: 0 190px 46px 189px;
}
.resume_btn {
	color: #2ecc71;
	padding: 15px 15px 15px 15px;
	margin-bottom: 100px;
	border: 2px solid #2ecc71;
	background-color: #f2f2f1;
}

.resume_btn:hover {
	box-shadow: 0 0 10px black;
}